# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
.ft-env/*
.ft/*

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
*.db
*.db-journal

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# statements
/statements*

